.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the viewport height for vertical centering */
}

.g-5 {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

